
<div class="container">
    <h1>Add a new mobile</h1>
    <div class="wrapper">
        <div class="card">
            <figure class="image-container">
                <img id="chosen-image" src="">
                <figcaption id="file-name"></figcaption>
            </figure>
            {{>addForm}}
        </div>

    </div>
</div>