<div class="container">
    <h1>ZTE Mobiles Stock</h1>
    <div class="wrapper">
        <div class="home">
            <h3>Well come.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nemo at perspiciatis, unde eveniet vero deleniti esse qui eum sit distinctio aperiam. Consequatur porro delectus veniam ipsam, quaerat assumenda blanditiis fugiat a, voluptatem, illum nemo vero. Hic facilis reiciendis laboriosam sapiente eius fugit enim ut, perspiciatis ab magnam quas delectus.</p>
        </div>
    </div>
</div>