<div class="container">
    <h1>Register</h1>
    <div class="wrapper">
        <div class="card auth-card">
            <form id="register" novalidate>
                <div class="info">
                    <h3>Register</h3>
                    <p>Registrate para que puedas acceder al area restringida</p>
                </div>
                {{>message _class="red"}}
                {{>item-form _text=true _class="text" _type="text" _name="user" _label="Usuario" _complete="off"}}
                {{>item-form _text=true _class="text" _type="text" _name="email" _label="Email" _complete="off"}}
                {{>item-form _text=true _class="text" _type="password" _name="password_1" _label="Password"}}
                {{>item-form _text=true _class="text" _type="password" _name="password_2" _label="Confirme password"}}
                {{>item-form _submit=true _class="submit" _type="submit" _value="Register"}}
            </form>
        </div>
    </div>
</div>
