{{!-- <form id="addform" action="URL_BASE/api/add" enctype="multipart/form-data" method="post" > --}}
<form id="addForm">

    {{>item-form _text=true _class="text" _type="text" _name="nombre" _label="Nombre"}}
    {{>item-form _text=true _class="text" _type="text" _name="modelo" _label="Modelo"}}
    {{>item-form _text=true _class="text" _type="text" _name="empresa" _label="Empresa"}}
    {{>item-form _text=true _class="text" _type="text" _name="almacenado" _label="Almacenado"}}
    <div class="form-group">
        {{>item-form _number=true _class="number" _for="sims" _label="SIMs: " _type="number" _name="sims" _id="sims" _min=1 _max=2 _value=1}}
        {{>item-form _number=true _class="number" _for="cantidad" _label="In: " _type="number" _name="cantidad" _id="cantidad" _min=0 _max=10 _value=0}}
        {{>item-form _number=true _class="number" _for="entregados" _label="Out: " _type="number" _name="entregados" _id="entregados" _min=0 _max=10 _value=0}}
    </div>
    {{>item-form _file=true _class="file" _img="/img/cloud-upload.svg" _type="file" _name="imagen" _id="upload-button" _multiple=false}}
    
    {{>item-form _submit=true _class="submit" _type="submit" _value="enviar form"}}

</form>